@charset "UTF-8";
.Title, .Heading .TypeStyle .H1 {
  font-size: clamp(2.5rem, 1.8181818182vw + 2.1363636364rem, 3.5rem);
  line-height: 120%;
  font-weight: 700;
}

.Heading .TypeStyle .H2 {
  font-size: clamp(2.25rem, 1.3636363636vw + 1.9772727273rem, 3rem);
  line-height: 120%;
  font-weight: 700;
}

.Heading .TypeStyle .H3 {
  font-size: clamp(2rem, 0.9090909091vw + 1.8181818182rem, 2.5rem);
  line-height: 120%;
  font-weight: 700;
}

.Heading .TypeStyle .H4 {
  font-size: clamp(1.5rem, 0.9090909091vw + 1.3181818182rem, 2rem);
  line-height: 130%;
  font-weight: 700;
}

.Heading .TypeStyle .H5 {
  font-size: clamp(1.25rem, 0.4545454545vw + 1.1590909091rem, 1.5rem);
  line-height: 140%;
  font-weight: 700;
}

.Heading .TypeStyle .H6, .Sect-Util .Content > p:first-of-type {
  font-size: clamp(1.125rem, 0.2272727273vw + 1.0795454545rem, 1.25rem);
  line-height: 140%;
  font-weight: 700;
}

.Content .P-L-eb {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 800;
}

.Paragraphe .P-L-b {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 700;
}

.Paragraphe .P-L-sb {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 600;
}

.Paragraphe .P-L-m {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 500;
}

.Paragraphe .P-L-n {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 400;
}

.Paragraphe .P-L-l {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 300;
}

.Paragraphe .P-M-eb {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 800;
}

.Paragraphe .P-M-b {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 700;
}

.Paragraphe .P-M-sb {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 600;
}

.Paragraphe .P-M-m {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 500;
}

.Paragraphe .P-M-n {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 400;
}

.Paragraphe .P-M-l {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 300;
}

.Paragraphe .P-R-eb {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 800;
}

.Paragraphe .P-R-b {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
}

.Paragraphe .P-R-sb, .Label p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 600;
}

.Paragraphe .P-R-m {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
}

.FontName .Grp1 p, .FontName .Grp2 p, .Paragraphe .P-R-n, .Label .CodeC {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.Heading .TypeStyle p:first-child, .Paragraphe .TypeStyle > p:first-of-type, .Paragraphe .P-R-l {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
}

.Paragraphe .P-S-eb {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 800;
}

.Paragraphe .P-S-b {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 700;
}

.Paragraphe .P-S-sb, .Input label, .InputSelect label, .TextArea label {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 600;
}

.Paragraphe .P-S-m, .Button01 {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 500;
}

.Paragraphe .P-S-n, .InputSelect select, .Button02 {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}

.Paragraphe .P-S-l {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 300;
}

.Paragraphe .P-T-eb {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 800;
}

.Paragraphe .P-T-b {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 700;
}

.Paragraphe .P-T-sb {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}

.Paragraphe .P-T-m {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 500;
}

.Paragraphe .P-T-n, .Input input[type=text], .Input [type=email], .TextArea textarea {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 400;
}

.Paragraphe .P-T-l {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Body";
  src: url("../font/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
html {
  font-family: "Body";
  font-size: 16px;
  color: #000000;
}

body {
  background-color: #F4F4F4;
}

hr {
  width: 100%;
}

.Sect-Typography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 64px;
  margin: auto;
  max-width: 1034px;
  border-radius: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px;
}

.FontName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.FontName .Grp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.FontName .Grp1 p {
  opacity: 50%;
}
.FontName .Grp1 h1 {
  font-size: 6rem;
}

.Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 64px;
}

.Heading .Grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
}

.Heading .TypeStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.Heading .TypeStyle p:first-child {
  opacity: 60%;
}
.Paragraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.Paragraphe .TypeStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.Paragraphe .TypeStyle > p:first-of-type {
  opacity: 60%;
}

.Paragraphe .Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.Sect-Colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  max-width: 1034px;
  margin: auto;
  padding: 64px;
  border-radius: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.Sect-Colors .Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  width: 100%;
}

.ColorSwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 146px;
}

.Color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 136px;
  border-radius: 8px;
}

.Label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px;
}
.Label .CodeC {
  opacity: 60%;
}

.Primary {
  background: #0D3CF9;
  color: #FFFFFF;
}

.Primary02 {
  background: #072CC1;
  color: #FFFFFF;
}

.Primary03 {
  background: #D6DEFF;
  color: #000000;
}

.Black01 {
  background: #000000;
  color: #FFFFFF;
}

.LightGrey01 {
  background: #F4F4F4;
  color: #000000;
}

.White01 {
  background: #FFFFFF;
  color: #000000;
}

.Sect-Shadows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  max-width: 1034px;
  margin: auto;
  padding: 64px;
  border-radius: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.Sect-Shadows .Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

.Shadows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  border-radius: 8px;
  width: 80px;
  height: 86px;
  background: #FFFFFF;
}

.xxsmall {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.xsmall {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.small {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.medium {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.large {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.xlarge {
  -webkit-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.25);
}

.xxlarge {
  -webkit-box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.3);
}

.Sect-Util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  max-width: 1034px;
  margin: auto;
  padding: 64px;
  border-radius: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.Sect-Util .Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
  width: 300px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
/* Conteneur principal */
.Input {
  width: 100%;
  /* les champ de saisie text et email */
  /* le texte de substitution (placeholder) */
  /* lorsqu'on clique ou qu'on est dans le champ de saisie */
}
.Input label {
  margin-bottom: 6px;
}
.Input input[type=text], .Input [type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* S'assure que le padding n'augmente pas la largeur totale */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Input input[type=text]::-webkit-input-placeholder, .Input [type=email]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.Input input[type=text]::-moz-placeholder, .Input [type=email]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.Input input[type=text]:-ms-input-placeholder, .Input [type=email]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.Input input[type=text]::-ms-input-placeholder, .Input [type=email]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.Input input[type=text]::placeholder, .Input [type=email]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.Input input[type=text]:focus, .Input [type=email]:focus {
  border-color: #0D3CF9; /* Change la couleur de la bordure */
  outline: none; /* Supprime la bordure de focus par défaut du navigateur */
  -webkit-box-shadow: 0 2px 4px 0 rgba(13, 60, 249, 0.3);
          box-shadow: 0 2px 4px 0 rgba(13, 60, 249, 0.3); /* Ajoute un halo de couleur */
}

/* Styles pour le conteneur principal */
.InputSelect {
  width: 100%;
  /* Styles pour le titre Select */
  /* Styles pour le champ de sélection */
  /* Styles pour l'option de placeholder */
  /* Styles de focus pour le select */
}
.InputSelect label {
  margin-bottom: 6px;
}
.InputSelect select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none; /* Supprime l'apparence par défaut du navigateur */
  -webkit-appearance: none; /* Pour les navigateurs WebKit (Chrome, Safari) */
  background-image: url(/assets/Chevron\ Down.svg); /* l'icône arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.InputSelect select option[disabled] {
  color: #F4F4F4;
}
.InputSelect select:focus {
  border-color: #0D3CF9;
  outline: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(13, 60, 249, 0.3);
          box-shadow: 0 2px 4px 0 rgba(13, 60, 249, 0.3);
}

/* Styles pour le conteneur principal */
.TextArea {
  width: 100%;
  /* Styles pour le titre "Text Area" */
  /* Styles pour le champ de saisie de texte (textarea) */
  /* Styles pour le texte de substitution (placeholder) */
  /* Styles de focus pour le textarea */
}
.TextArea label {
  margin-bottom: 6px;
}
.TextArea textarea {
  font-family: "Body";
  width: 100%;
  height: 150px; /* Définit la hauteur initiale du textarea */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical; /* Permet uniquement le redimensionnement vertical */
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.TextArea textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.TextArea textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.TextArea textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.TextArea textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.TextArea textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.TextArea textarea:focus {
  border-color: #0D3CF9; /* Change la couleur de la bordure */
  outline: none; /* Supprime la bordure de focus par défaut du navigateur */
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); /* Ajoute un halo de couleur */
}

.Sect-Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  max-width: 1034px;
  margin: auto;
  padding: 64px;
  border-radius: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.Sect-Buttons .Content {
  width: 100%;
  gap: 36px;
}

button {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

/* Container */
.ButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  width: 100%;
}

/* RESET */
/* Supprimer l'highlight pour les clics seulement */
button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

button:focus,
a:focus {
  outline: none;
  -webkit-focus-ring-color: transparent;
}

/* ............................................. */
/* Stylisation */
.Button01 {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 12px 28px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; /* empecher la copie du texte du bouton */
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; /* bloquer les manipulation pas importante tels que le double-tap pour zoom*/
}
.Button01:disabled { /* désactive les interactions de la souris sur les éléments lorsqu'il est dans l'état :disabled */
  pointer-events: none;
}
.Button01:hover {
  background-color: #072CC1;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.Button01:active {
  background-color: #072CC1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.Button01.tape01 {
  background-color: #000000;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

/* ⚠️ A utiliser que si le boutton à un changement de couleur au hover */
.is-touch-device .Button01:hover {
  background-color: #0D3CF9;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

/*------------ */
/* Sizing ---------- */
.Button01.Small {
  padding: 6px 12px;
}

.Button01.Medium {
  padding: 10px 22px;
}

.Button01.Large {
  padding: 12px 28px;
}

/*---------------------*/
.Button01.Primary {
  background-color: #0D3CF9;
}
.Button01.Primary:hover {
  background-color: #072CC1;
  -webkit-box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
          box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.Button01.Primary:active {
  background-color: #072CC1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.Button01.Primary.tape01 {
  background-color: #072CC1;
  -webkit-box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
          box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
}

.Button01.Secondary {
  background-color: #FFFFFF;
  border: 1px solid #0d3cf9;
  color: #0D3CF9;
}
.Button01.Secondary:hover {
  background-color: rgba(13, 60, 249, 0.2);
  -webkit-box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
          box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
}

.Button01.Secondary.tape01 {
  background-color: rgba(13, 60, 249, 0.2);
  -webkit-box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
          box-shadow: 0 8px 15px rgba(7, 44, 193, 0.4);
}

/* Stylisation */
.Button02 {
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 14px 28px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.Button02 span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.Button02 span:first-child {
  position: relative;
  -webkit-transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.Button02 span:last-child {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  height: 14px;
  -webkit-transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  -webkit-transform: translateY(225%) translateX(-50%);
          transform: translateY(225%) translateX(-50%);
  z-index: 100;
}

.Button02:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1), -webkit-transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  -webkit-transform: skewY(9.3deg) scaleY(0);
          transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

/* ---------- */
.Button02:hover:after {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: skewY(9.3deg) scaleY(2);
          transform: skewY(9.3deg) scaleY(2);
}

.Button02:hover span:last-child {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
  -webkit-transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.Button02:active {
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
}

.Button02.tape02 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.Button02.tape02:after {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: skewY(9.3deg) scaleY(2);
          transform: skewY(9.3deg) scaleY(2);
}

.Button02.tape02 span:last-child {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
  -webkit-transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.Button02.Small {
  padding: 8px 10px;
}

.Button02.Medium {
  padding: 10px 22px;
}

.Button02.Large {
  padding: 14px 28px;
}

.Button02.Primary {
  color: #0D3CF9;
  border: 1px solid #0D3CF9;
}
.Button02.Primary:after {
  background-color: #0D3CF9;
}

.Button02.Primary:hover:after {
  background-color: #0D3CF9;
}/*# sourceMappingURL=system.css.map */